.form {
  
    width: 100%;
    @media screen and (max-width: 502px) {
      width: 100%;
    }}

  
        .form-field {
          margin-top: 2rem;
          position: relative;
          width: 100%;
        }
          .label {
            position: absolute;
            left: 20px;
            top: -19px;
            display: inline-block;
            background-color: var(--background-dark-color);
            padding: 0 0.5rem;
            color: inherit;
          }
          .input {
            border: 1px solid var(--border-color);
            outline: none;
            background: transparent;
            height: 50px;
            padding: 0 15px;
            width: 100%;
            color: inherit;
          }
          .textarea {
            background-color: transparent;
            border: 1px solid var(--border-color);
            outline: none;
            color: inherit;
            width: 100%;
            padding: 0.8rem 1rem;
          }
        
          .contact-title {
            position: relative; 
            top: 72px;
  
              color: var(--white-color);
              padding: 1rem 0;
              font-size: 1.8rem;
            
          }
          .f-button {
            margin-bottom: 3rem;
            padding-right: 5px;
          }
          .but{
              display: flex;
              
          }