html{
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
body{
  background-color: #040714;
  color: #f9f9f9;
font-family: Avemir-Roman, sans-serif;
margin: 0;
padding: 0;
}

a{
  color: #f9f9f9;
  text-decoration: none;

}
@media only  screen and(min-width:760px) {
  body{
    font-size: 16px;
  }
}
  
@media only  screen and(min-width:580px) and (max-widht:760px) {
  body{
    font-size: 15px;
  }
}
@media only  screen and(min-width:480px) and (max-widht:760px) {
  body{
    font-size: 15px;
  }
}
@media only  screen and (max-widht:479px) {
  body{
    font-size: 14px;
  }
}